body{
	padding: 0;
	margin: 0;	
	background: #ccc;
}

/* 头部 */
header{
	position: relative;
	background: #3C3C3C;
	height: 60px;
}
header>a{
	position: absolute;
	left: 15px;
	top: 12px;
}
header ul{
	position: absolute;
	right:0;
	top:8px;
	height:60px;
	font-size: 15px;
}
header ul li{
	float: left;
	margin: 0 20px;
}
header li a{
	text-decoration: none;
	color: #EEE;
}
header li a:hover{
	color: #AAA;
}

/* 总体块状和字体设置 */
.article1,.article2,.article3,.picture,.aside{
	margin: 25px 25px;
	padding: 15px 25px;
	background: #fff;
	box-shadow:2px 2px 3px #444;
}
.article1 h3,.article2 h3,.article3 h3,.picture h3,.aside h3{
	color: #999;
}
.article1 div,.article2 div,.article3 div{
	font-size: 12px;
	color: #999;
}
.article2 ul{
	list-style-type: none;
}

/* 图片部分 */
.small_pic{
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	height: 100px;
	width: 120px;
	padding-top: 5px;
	margin: 20px 50px;
	border: 1px solid #ccc;
}
.small_pic img{
	width:100px;
	height: 60px;
	margin: 10px;
}

/* 表格 */
table{
	width: 100%;
	text-align: left;
	font-size: 13px;
	background: #ccc;
}
table th{
	background: #333;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 4px 5px;
}
table td{
	background: #fff;
	padding: 4px 5px;
}
table tfoot td{
	background: #ccc;
	color: black;
	font-weight: 700;
}

/* 侧栏 */
.aside h2{
	border-left:3px solid #6F6F6F;
	padding-left:5px  
}
form>div{
	height: 25px;
	margin:5px 0;
	font-size: 14px;
}
.aside form>p{
	font-size: 14px;
	height: 14px;
	margin-left: 30%;
	padding-left: 5px;
}
.left{
	width: 30%;
	display:inline-block;
	text-align:right;
}
#last{
	height: 80px;
}
#last div,#last textarea{
	float: left;
}
#last textarea{
	height: 80px;
	width: 60%;
	margin-right: 40px;
	font-size: 16px;
}
#bt{
	margin: 10px auto;
	text-align: center;
	color: #fff;
	height: 40px;
	width:100%;
	font-size: 16px;
	line-height: 20px;
	border-radius: 5px;
	background: #3030BE;
	border: 0;
}

/* 版权 */
footer{
	height: 50px;
	text-align: center;
	font-weight: 300;
	color: #fff;
	background: #000;
	padding-top: 15px; 
}